.imageCarousel
{
    height: 400px;
    object-fit: cover;
}

.imageCard
{
    height: 200px;
    object-fit: cover;
}

.imageProductDetail
{
    height: 300px;
    object-fit: cover;
}

.avatarComment
{
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
    margin-right: 10px !important;
    object-fit: cover;
}

.formComment
{
    position:relative !important;
    top:7px !important;
}

.commentInput
{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(202, 200, 200);
    outline: none !important;
    outline-width: 0 !important;
    transition: none !important;
}

.commentInput:focus
{
    border: none !important;
    border-bottom: 2px solid black !important;
    color: black !important;
    background-color: #fff !important;
    outline: none !important;
    outline-width: 0 !important;
    transition: 0.5s;
    box-shadow: none !important;
}

.avatarProfile
{
    height:150px;
    width:150px;
    border-radius:50%;
    object-fit: cover;
    position: relative;
    top: -80px;
    left: 50px;
    border: 3px solid white;
}